.choice-group-item {
  @include baseCheckAnChoice();

  .checkmark {
    @extend .margin-right-xsmall;
    background: $white;
    @extend .border;
    @extend .border-color-gray-500;
    @extend .border-width-1;
    transition: all 0.2s;
    height: 20px;
    position: relative;
    width: 20px;
    @extend .border-radius-pill;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    &.checked {
      @extend .border-color-primary;
      div {
        @extend .border-radius-pill;
        @extend .background-primary;
        width: 10px;
        height: 10px;
      }
    }
  }

  input {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
}