.comboBox {
  @extend .border;
  @extend .border-radius-small;
  @extend .padding-vertical-xsmall;
  @extend .padding-horizontal-xsmall;
  border-color: $gray-600;
  border-width: 1.6px;
  cursor: pointer;
  max-width: 300px;
  display: flex;
  font-size: map-get($text-size, default);
  justify-content: space-between;
  position: relative;

  &.block {
    max-width: 100%;
  }
}
