.border {
  border-style: solid;
}

@each $key, $position in $border-positions {
  .border-#{$key} {
    border-#{$position}-style: solid;
  }
}

@each $key-width, $size in $border-width {
  .border-width-#{$key-width} {
    border-width: $size;
  }
  @each $key-position, $position in $border-positions {
    .border-#{$key-position}-width-#{$key-width} {
      border-#{$key-position}-width: $size;
    }
  }
}

@each $key, $size in $border-radius {
  .border-radius-#{$key} {
    border-radius: $size;
  }
}

@each $key-color, $color in $theme-colors {
  .border-color-#{$key-color} {
    border-color: $color;
  }
  @each $key-position, $position in $border-positions {
    .border-#{$key-position}-color-#{$key-color} {
      border-#{$key-position}-color: $key-position;
    }
  }
}

@each $key-color, $color in $grays {
  .border-color-gray-#{$key-color} {
    border-color: $color;
  }

  @each $key-position, $position in $border-positions {
    .border-#{$key-position}-color-gray-#{$key-color} {
      border-#{$key-position}-color: $color;
    }
  }
}
