@mixin button($color-key) {
  @extend .background-#{$color-key};
  @extend .padding-vertical-xsmall;
  @extend .padding-horizontal-small;
  @extend .text-color-gray-white;
  @extend .text-weight-bold;
  @extend .border-radius-small;
  @extend .border;
  @extend .border-color-#{$color-key};
  font-size: 12px;
  transition: all .2s;
  cursor: pointer;
  &.block {
    width: 100%;
  }
  &[disabled] {
    @extend .background-gray-300;
    @extend .border-color-gray-300;
    @extend .text-color-gray-500;
    &:hover {
      @extend .border-color-gray-300;
      @extend .background-gray-300;
    }
  }

  &:hover {
    @extend .border-color-#{$color-key}-dark;
    background: map-get($theme-colors, "#{$color-key}-dark");
  }
}
